header {
    height: 50px;
    background-color: lightblue;
}

.sub-header {
    height: 400px;
    background-color: lightcoral;
}

main .img-main {
    background-color: lightgreen;
}

main .img-main .img-h {
    min-height: 250px;
}

.main-info {
    background-color: lightslategrey;
}

.main-info .main-info-h{
    height: 350px;
}

.contact {
    background-color: limegreen;
}

.contact .contact-h {
    height: 400px;
}

footer .social {
    background-color: lightyellow;
} 

footer .social-h {
    height: 150px;
}

footer .copyright {
    height: 100px;
    background-color: mediumorchid;
}