/* Header */

#head .bg-grey {
    background-color: rgb(44,62,80);
}

#head .text-white {
    color: white;
}

/* Jumbotron */

.bg-aqua {
    background-color: rgb(26,188,156);
}

#jumbotron img {
    width: 18rem;
}

/* Main */

.main-info {
    background-color: rgb(26,188,156);
}

.main-info .main-info-h{
    height: 350px;
}

.contact {
    background-color: limegreen;
}

.contact .contact-h {
    height: 400px;
}

footer .social {
    background-color: lightyellow;
} 

footer .social-h {
    height: 150px;
}

footer .copyright {
    height: 100px;
    background-color: mediumorchid;
}

@media screen and (min-width: 992px) {
    .margin-lg {
        margin: 0 100px;
    }
}